/* Smartphones (portrait). iPhone X */
body{
/*@media only screen and (min-width : 100px) and (max-width : 375px) */
  background-color: rgb(10, 9, 83); }

/*body{
/* Tablet (portrait).  Ipad 2*/
/*@media only screen and (min-width : 376px) and (max-width :  768px) 
 background-color: blue; }

/*body{
/* Laptop/PC.  lenovo 15.6 inch laptop */
/*@media only screen and (min-width : 769px) and (max-width :  1920px) 
/* Styles 
 background-color: red; }
*/
menu ul {
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
	position: sticky;
	top: 0;
}

menu ul li {
	list-style: none;
    float: left;
}

menu ul li a {
	list-style: none;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Tangerine', serif;
	font-size: 20px;
	text-shadow: 4px 4px 4px #aaa;
}

menu ul li a:hover:not(.active) {
	list-style: none;
    background-color: #a11a11;
}

.active {
    background-color: #a0fFa0;
}

h1 {
	font-family: Castellar;
	font-size: 25px;
	color: rgb(136, 137, 247);
}
h2{
	font-family: Castellar;
	font-size: 22px;
	color: rgb(136, 137, 247);
}

h3 {
	font-family: Castellar;;
	font-size: 22px;
	color: rgb(136, 137, 247);
}

h4 {
	font-family: Castellar;;
	font-size: 25px;
	color: rgb(255, 255, 255);
}

p {
	font-family: CopperPlate Gothic Bold;
	font-size: 18px;
	color: rgb(255, 255, 255);
}

p1{
	font-family: CopperPlate Gothic Bold;
	font-size: 18px;
	color: rgb(255, 255, 255);
}

p2{
	font-family: CopperPlate Gothic Bold;
	font-size: 18px;
	color: rgb(255, 255, 255);
}

p3{
	font-family: CopperPlate Gothic Bold;
	font-size: 18px;
	color: rgb(255, 255, 255);
	break-word: keep-all;
}

p4{
	font-family: CopperPlate Gothic Bold;
	font-size: 20px;
	color: rgb(136, 137, 247);
	break-word: keep-all;
}

p5{
	font-family: CopperPlate Gothic Bold;
	font-size: 18px;
	color: rgb(136, 137, 247);
	break-word: keep-all;
}

img {
	
}
